/* Table of Contents
1. General Styles
2. Banner
3. Green Section
4. Button Styles
5. Button Animations
6. CTA Container
*/

/* 1. General Styles
   ========================================================================== */
   body {
    background-color: #212121;
  }
  h2 {
    font-family:'Spectral SC', serif;
    color: white;
    padding-left: 30px;
  }
  
  p {
    margin-bottom: 0;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
  }
  
  
  /* 2. Banner
     ========================================================================== */
  .banner {
    height: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .banner-container {
    overflow: hidden;
    width: 100%;
  } 
  
  .banner-to-the-left, .banner-to-the-right {
    font-family: 'Spectral SC', serif;
    font-weight: 700;
    line-height: 1;
    font-size: 70px;
    color: white;
    display: inline-block;
    white-space: nowrap;
  }
  
  .banner-to-the-left {
    padding: 10px 0;
    animation: moveLeft 20s linear infinite;
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    color: transparent;
  }
  
  .banner-to-the-right {
    padding: 0;
    animation: moveRight 20s linear infinite;
  }
  
  .banner-to-the-left span, .banner-to-the-right span {
    display: inline-block;
    padding-right: 25px;
  }
  
  @keyframes moveRight {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-50%, 0, 0); }
  }
  
  @keyframes moveLeft {
    0% { transform: translate3d(-50%, 0, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
  
  /* 3. Green Section
     ========================================================================== */
  .green-section {
    background-color: #3f8d6a;
    height: 40vh;
    position: relative;
    top: -70px;
    overflow: visible;
  }
  
  .container-img {
    width: 80%;
    height: 135%;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    text-align: center;
    object-fit: cover;
    overflow: hidden;
    border-radius: 30px;
    margin: 0 auto;
  }
  
  .container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* 4. Button Styles
     ========================================================================== */
  .type--A {
    --line_color: #eefdf6;
    --back_color: #3f8d6a;
  }
  
  .button {
    position: relative;
    z-index: 0;
    width: 240px;
    height: 56px;
    text-decoration: none;
    font-size: 14px; 
    font-weight: bold;
    color: var(--line_color);
    letter-spacing: 2px;
    transition: all .3s ease;
  }
  
  .button__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .button::before,
  .button::after,
  .button__text::before,
  .button__text::after {
    content: '';
    position: absolute;
    height: 3px;
    border-radius: 2px;
    background: var(--line_color);
    transition: all .5s ease;
  }
  
  .button::before {
    top: 0;
    left: 54px;
    width: calc(100% - 56px * 2 - 16px);
  }
  
  .button::after {
    top: 0;
    right: 54px;
    width: 8px;
  }
  
  .button__text::before {
    bottom: 0;
    right: 54px;
    width: calc(100% - 56px * 2 - 16px);
  }
  
  .button__text::after {
    bottom: 0;
    left: 54px;
    width: 8px;
  }
  
  .button__line {
    position: absolute;
    top: 0;
    width: 56px;
    height: 100%;
    overflow: hidden;
  }
  
  .button__line::before {
    content: '';
    position: absolute;
    top: 0;
    width: 150%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 100px;
    border: solid 3px var(--line_color);
  }
  
  .button__line:nth-child(1),
  .button__line:nth-child(1)::before {
    left: 0;
  }
  
  .button__line:nth-child(2),
  .button__line:nth-child(2)::before {
    right: 0;
  }
  
  .button:hover {
    letter-spacing: 3px;
  }
  
  .button:hover::before,
  .button:hover .button__text::before {
    width: 8px;
  }
  
  .button:hover::after,
  .button:hover .button__text::after {
    width: calc(100% - 56px * 2 - 16px);
  }
  
  .button__drow1,
  .button__drow2 {
    position: absolute;
    z-index: -1;
    border-radius: 16px;
    transform-origin: 16px 16px;
  }
  
  .button__drow1 {
    top: -16px;
    left: 40px;
    width: 32px;
    height: 0;
    transform: rotate(30deg);
  }
  
  .button__drow2 {
    top: 44px;
    left: 77px;
    width: 32px;
    height: 0;
    transform: rotate(-127deg);
  }
  
  .button__drow1::before,
  .button__drow1::after,
  .button__drow2::before,
  .button__drow2::after {
    content: '';
    position: absolute;
  }
  
  .button__drow1::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(-60deg);
  }
  
  .button__drow1::after {
    top: -10px;
    left: 45px;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(69deg);
  }
  
  .button__drow2::before {
    bottom: 0;
    left: 0;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(-146deg);
  }
  
  .button__drow2::after {
    bottom: 26px;
    left: -40px;
    width: 0;
    height: 32px;
    border-radius: 16px;
    transform-origin: 16px 16px;
    transform: rotate(-262deg);
  }
  
  .button__drow1,
  .button__drow1::before,
  .button__drow1::after,
  .button__drow2,
  .button__drow2::before,
  .button__drow2::after {
    background: var(--back_color);
  }
  
  /* 5. Button Animations
     ========================================================================== */
  @keyframes drow1 {
    0%   { height: 0; }
    100% { height: 100px; }
  }
  
  @keyframes drow2 {
    0%   { width: 0; opacity: 0; }
    10%  { opacity: 0; }
    11%  { opacity: 1; }
    100% { width: 120px; }
  }
  
  @keyframes drow3 {
    0%   { width: 0; }
    100% { width: 80px; }
  }
  
  @keyframes drow4 {
    0%   { height: 0; }
    100% { height: 120px; }
  }
  
  @keyframes drow5 {
    0%   { width: 0; }
    100% { width: 124px; }
  }
  
  .button:hover .button__drow1 {
    animation: drow1 ease-in .06s;
    animation-fill-mode: forwards;
  }
  
  .button:hover .button__drow1::before {
    animation: drow2 linear .08s .06s;
    animation-fill-mode: forwards;
  }
  
  .button:hover .button__drow1::after {
    animation: drow3 linear .03s .14s;
    animation-fill-mode: forwards;
  }
  
  .button:hover .button__drow2 {
    animation: drow4 linear .06s .2s;
    animation-fill-mode: forwards;
  }
  
  .button:hover .button__drow2::before {
    animation: drow3 linear .03s .26s;
    animation-fill-mode: forwards;
  }
  
  .button:hover .button__drow2::after {
    animation: drow5 linear .06s .32s;
    animation-fill-mode: forwards;
  }
  
  /* 6. CTA Container
     ========================================================================== */
  .cta-container {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom:25px;
    backdrop-filter: blur(5px);
  
  }
  
  .button:not(:last-child) {
    margin-bottom: 64px;
  }
  
  /* 7. Slider
     ========================================================================== */
  
  .img-responsive {
      width: 100%;
      height: auto;
      object-fit: cover;
  }

  
  .slider-container img {
      display: block;
      width: 300px;
      height: 300px;
      object-fit: cover;
      border-radius: 30px;
    
    }
    
    .slider-container {
      width: 100%;
      overflow: hidden;
      position: relative;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    
    .slider-container article {
      display: flex;
      width: 600%; /* Change this to 300% */
      animation: bannermove 20s linear infinite; /* Adjust the duration as needed */
    }
    
    .slider-container article::before {
      content: '';
      display: flex;
      width: 100%;
    }
  
    .slider {
      width: 100%;
    }
    
    .slider-container ul {
      display: flex;
      list-style-type: none;
      padding-left: 0;
      margin: 0;
    }
    
    .slider-container li {
      width: 100%;
      margin-left:25px;
    }
    
  
    
    @keyframes bannermove {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-33.33%); /* Adjust this to -33.33% */
      }
    }


    .rules-section {
      margin-top: 30px;
    }