#map-container {
    // height: calc(100vh - 50px) ; permet de faire un calcul en css mais n'est pas suffisant ici
    height: 100vh;
    position: relative;
    top: -70px;
}

#map {
    height: 100%;
    // border: solid 1px red;
    // z-index: 1000; /* Ajustez selon vos besoins */
}
