/* Conteneur général */
.container {
    display: flex;
    justify-content: center;
}

/* Carte */
.card {
    width: 100vw;
    margin: 10px 20px;
    background-color: rgb(55, 55, 55);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

/* Contenu de la carte */
.card-content {
    display: flex;
    flex-direction: column;
}

/* Première ligne (Titre) */
.first-row {
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: white;
        padding: 0;
    }
}



/* Deuxième ligne (Capitaine et nombre de membres) */
.second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

    .captain {
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .members-count {
        font-size: 16px;
    }
    p {
        color: white;
        padding: 10px 0px;
    }

    i {
        margin-right: 5px;
    }
}

/* Troisième ligne (Bouton et chevron) */
.third-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .center-btn {
        margin-left: auto;
        margin-right: auto;
    }
}

/* Styles pour les titres et paragraphes dans la carte */
.card h2,
.card p {
    margin: 0;
}

/* Boutons spécifiques avec couleurs */
.btn {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    width: 200px;
}

.btn-red {
    background-color: #8d3f55;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

.btn-green {
    background-color: #3f8d6a;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

/* Icône couronne */
.fa-crown {
    color: #FFD700;
}

/* Chevron flottant */
.chevron {
    font-size: 25px;
    color: white;
    cursor: pointer;
    animation: float 2s infinite ease-in-out;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Liste des utilisateurs cachée */
.user-list {
    display: none;
    margin-top: 20px;
    color: white;
    ul {
        list-style-type: none;
        padding: 0;
    }

}

/* Conteneur pour ajouter une équipe */
.add-container {
    display: flex;
    justify-content: center;
}

.add-team {
    border: 1px solid #1EDD88;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 5px 20px;
    position: relative;
}

.add-team a {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fa-plus {
    color: white;
    font-size: 30px;
}
