<div class="modal fade" id="AddTeamModal" tabindex="-1" aria-labelledby="AddTeamModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="AddTeamModalLabel">Ajouter une équipe</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for Team.new, url: teams_path, method: :post do |f| %>
            <div class="form-group">
              <%= f.input :name, label: "Nom de l'équipe", input_html: { class: 'form-control' } %>
            </div>
            <div class="form-group">
              <%= f.button :submit, "Enregistrer", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
</div>
