<div class="modal fade" id="AddTeamModal" tabindex="-1" aria-labelledby="AddTeamModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="AddTeamModalLabel">Ajouter une équipe</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% if current_user.team.present? %>
            <%= simple_form_for current_user.team, url: team_path(current_user.team), method: :patch do |f| %>
              <div class="form-group">
                <%= f.input :name, label: "Nom de l'équipe", input_html: { class: 'form-control' } %>
              </div>
              <div class="form-group">
                <%= f.button :submit, "Enregistrer", class: "btn btn-primary" %>
              </div>
            <% end %>
          <% else %>
            <p>Vous n'avez pas encore d'équipe. Veuillez vous inscrire pour en créer une.</p>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
</div>
