<div class="modal fade" id="CheckModal" tabindex="-1" aria-labelledby="CheckModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="CheckModalLabel" data-map-target="checkModalTitle"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" data-map-target="checkModalBody">
        <p id="message" style="color: black;">Entrez le mot de passe pour continuer.</p>

        <!-- Message d'erreur pour mot de passe incorrect -->
        <p id="errorMessage" style="color: red; display: none;">Mot de passe incorrect. Veuillez réessayer.</p>

        <!-- Section du mot de passe -->
        <div id="passwordSection">
          <form id="passwordForm" class="password-form">
            <div class="mb-3">
              <label for="passwordInput" class="form-label">Mot de passe</label>
              <input type="text" id="passwordInput" placeholder="Entrez votre mot de passe" class="form-control" />
            </div>
            <button type="submit" id="confirmPasswordButton" class="btn btn-primary" style="color: black;">Confirmer</button>
          </form>
        </div>

        <!-- Message de non-disponibilité -->
        <p id="noMarkerMessage" style="display: none;">Le prochain point n'est pas disponible pour le moment.</p>
      </div>
    </div>
  </div>
</div>
