<div class="modal fade" id="GalleryModal" tabindex="-1" aria-labelledby="GalleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="GalleryModalLabel">Les carnets de Joséphine</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" data-map-target="galleryModal">
          <%#ici s'affiche le contenu de la galerie %>
        </div>
      </div>
    </div>
</div>

<script>
  function toggleContent(index) {
    const contentDiv = document.getElementById(`content-${index}`);
    const chevronIcon = document.getElementById(`chevron-${index}`);

    if (contentDiv.style.display === "none") {
      contentDiv.style.display = "block";
      chevronIcon.classList.remove('fa-circle-arrow-down');
      chevronIcon.classList.add('fa-circle-arrow-up');
    } else {
      contentDiv.style.display = "none";
      chevronIcon.classList.remove('fa-circle-arrow-up');
      chevronIcon.classList.add('fa-circle-arrow-down');
    }
  }
</script>
