<nav class="menu">
  <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
  <label class="menu-open-button" for="menu-open">
    <span class="hamburger hamburger-1"></span>
    <span class="hamburger hamburger-2"></span>
    <span class="hamburger hamburger-3"></span>
  </label>

  <a class="menu-item" data-map-target="recenterButton" data-action="click->map#recenter"> <i class="fa-solid fa-crosshairs"></i> </a>
  <a href="#" class="menu-item" data-bs-toggle="modal" data-bs-target="#CheckModal"> <i class="fa-solid fa-check"></i> </a>
  <a href="#" class="menu-item"data-bs-toggle="modal" data-bs-target="#EnigmaModal"> <i class="fa-solid fa-circle-question"></i> </a>
  <a href="#" class="menu-item" data-bs-toggle="modal" data-bs-target="#GalleryModal"> <i class="fa-solid fa-images"></i> </a>
  <a href="#" class="menu-item" data-bs-toggle="modal" data-bs-target="#InformationModal"><i class="fa-solid fa-info"></i></a>
</nav>
