<div class="navbar">
    <div class="navbar-center">
        <%= link_to root_path do %>
            <%= image_tag "logo green-2.png", class: "center-logo" %>
        <% end %>
    </div>
<div class="navbar-right">
 <%= link_to destroy_user_session_path, class: "btn btn-danger", data: { turbo_method: :delete } do %>   
  <i class="fa fa-sign-out-alt"></i>
  <% end %>
</div>

</div>
