.navbar {
  justify-content: center;
  backdrop-filter: blur(5px);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #e0e0e0;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

.navbar-brand {
  margin-right: 0;
}

.navbar .navbar-brand img {
  width: 40px;

}

